body{
    background-color: #505c41;
}

.container{
    width: 80%;
    height: 400px;
    padding: 15px;
    background-color: #f6f6f6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}